p {
    font-family: Arial;
    color: #04724D;
}

h1 {
    font-family: Arial;
    color: #04724D;
}

h2 {
    font-family: Arial;
    color: #04724D;
}

.text{
    font-family: Arial;
    font-size: 24px;
    color: #04724D;
}

.bullets {
    font-family: Arial;
    color: #04724D;
}

.background {
    background-color: #BDBEA9;
}
.bar {
    display: flex;
    height: 28px;
    margin-left: 0px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.bartext {
    font: arial;
    font-size: 20px;
    font-weight: 800;
    color: #04724D;
    text-decoration: none;
    user-select: none;
    margin: 5px;
    padding: 5px;
}

.bartext:hover {
    text-decoration: underline 3px;
    text-underline-offset: 6px;
}

.selected {
    font: arial;
    font-size: 20px;
    font-weight: 800;
    color: #BDBEA9;
    background-color: #04724D;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.border {
    margin-bottom: 20px;
    border-radius: 12px;
    width: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.list {
    list-style-position: inside;
    display: table;
    margin: 0 auto;
    text-align: left;
}